.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.datetime-picker {
  display: flex;
  justify-content: center;
  height: 48px;
  width: 100%;
  gap: 16px;
}

.datetime-picker input {
  height: 100%;
  width: 60%;
  padding: 8px;
  font-size: 24px;
  border-radius: 8px;
}

.datetime-picker button {
  height: 100%;
  padding: 8px 16px;
  font-size: 20px;
  border-radius: 8px;
  border: none;

  background-color: #333;
  color: white;
}

.datetime-picker button:hover {
  background-color: #555;
}

.datetime-picker button:disabled {
  background-color: #ccc;
  color: #666;
}

.timer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-size: 56px;
  margin: 24px;
  gap: 16px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.label {
  font-size: 24px;
  text-transform: uppercase;
}
